<?xml version="1.0" encoding="UTF-8"?>

<Configuration status="OFF" monitorInterval="600">

    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <ThresholdFilter level="INFO" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>

        <!--配置异步写日志-->
        <!--<Async name="Async">-->
            <!--<AppenderRef ref="ALL"/>-->
        <!--</Async>-->

    </Appenders>

    <Loggers>
        <Logger name="org.springframework" level="info" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>

        <Root level="debug">
            <Appender-Ref ref="Console"/>
        </Root>
    </Loggers>
</Configuration>
